*{
    box-sizing: border-box;
    margin: 0;
    top: 0;
    overflow-x: hidden;
}

html{
    font-size: 10px;
}

span{
    color: rgb(134, 55, 207);
    font-weight: 600;
}

body{
    height: auto;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: linear-gradient(rgb(1, 20, 48), rgb(17, 0, 29));
}

.thur{
    width: 110%;
    max-width: 650px;
    display: flex;
    align-items: center;
}

.inicio{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding: 2rem;
}

.inicio img{
    width: 10%;
    margin: 0rem 1rem;
    padding: 0.2rem;
    border: 3px solid rgb(193, 134, 241);
    background-color: rgb(27, 3, 49);
    border-radius: 100%;
}

.inicio .dev{
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
}

.menu a{
    color: white;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.menu a:hover{
    border: 1px solid rgb(102, 109, 253);
    transform: scale(1.1);
    color: rgb(102, 109, 253);
    text-decoration: underline;
}

.sobre{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    padding: 5rem;
    align-items: center;
}

.sobre .text{
    font-size: 2rem;
    color: white;
    width: 100%;
}

.sobre .text h2{
    font-size: 3rem;
}

.info{
    width: 80%;
    height: auto;
    padding: 2rem 2.5rem;
    align-items: center;
    background-image: linear-gradient(#6A0DAD, #8A2BE2);
    box-shadow: 0px 0px 15px white;
    border-radius: 1.5rem;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    transition: 0.3s;
}

.info:hover{
    transform: scale(1.03);
}

.info .app{
    padding: 1rem;
    width: 15%;
    text-decoration: none;
    transition: 0.2s;
    margin: auto;
}

.ter{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: white;
    align-items: center;
}

.ter img{
    width: 3vw;
}

.apps{
    padding: 1rem 0rem;
    width: 500px;
    align-items: center;
    margin: auto;
    overflow-y: hidden;
}

.imagem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.info img{
    border-radius: 100%;
    width: 50vw;
}

.info .app img{
    width: 8%;
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 100%;
    transition: 0.3s;
    margin: auto;
}

.info .app img:hover{
    transform: scale(1.1);
}

.serv hr{
    width: 100vw;
    color: rgb(48, 44, 44);
}

.container img{
    width: 15%;
    padding: 1rem;
    background-color: blueviolet;
    border-radius: 10px;
}

.container{
    width: 100vw;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 7rem 0rem;
}

.card{
    width: 30%;
    align-items: center;
    border: 1.5px solid grey;
    border-radius: 10px;
    background-color: rgb(5, 5, 5);
    padding: 2rem;
    cursor: default;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
}

.final{
    font-size: 1.6rem;
    color: white;
    text-align: center;
    background-color: black;
    width: 100vw;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
}

.final img{
    width: 1%;
}

@media (max-width: 480px){

    html{
        font-size: 10px;
    }

    .sobre{
        flex-direction: column;
        width: 100vw;
        padding: 2rem 0;
        margin: auto;
        text-align: center;
    }

    .menu a{
        font-size: 3.5vw;
        font-weight: 600;
    }

    .menu{
        margin: auto;
        width: 100vw;
        position: relative;
        right: 18px;
    }

    .info{
        width: 90vw;
        margin: auto;
        flex-direction: column;
    }

    .thur p{
        padding: 1rem;
    }

    .text h2{
        font-size: 2rem;
    }

    .info .imagem{
        flex-direction: column;
    }

    .info .imagem img{
        width: 80px;
    }

    .apps{
        width: 100vw;
        margin: auto;
        justify-content: center;
        position: relative;
        right: 40px;
    }

    .apps .app img{
        width: 12%;
    }

    .inicio{
        flex-direction: column;
        font-size: 2rem;
    }

    .inicio .menu{
        padding: 2rem;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .inicio .thur{
        flex-direction: column;
    }

    .inicio .thur img{
        width: 80px;
        margin: auto;
    }

    .ter img{
        width: 40px;
    }

    .container{
        font-size: 1.8rem;
        flex-direction: column;
        margin: auto;
        gap: 5rem;
    }

    .card{
        margin: auto;
        width: 90vw;
    }

    .card img{
        width: 40%;
    }
}