*{
    box-sizing: border-box;
    margin: 0;
    top: 0;
    overflow-x: hidden;
}

html{
    font-size: 10px;
}

span{
    color: rgb(77, 0, 150);
    font-weight: 600;
}

body{
    height: auto;
    background-repeat: no-repeat;
    background-size: auto;
}

.thur{
    width: 110%;
    max-width: 650px;
    display: flex;
    align-items: center;
}

.inicio{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    align-items: center;
    padding: 2rem;
}

.inicio img{
    width: 10%;
    margin: 0rem 1rem;
    padding: 0.2rem;
    border: 3px solid rgb(193, 134, 241);
    background-color: rgb(27, 3, 49);
    border-radius: 100%;
}

.inicio .dev{
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 600;
    color: white;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.menu a{
    color: white;
    font-weight: 500;
    font-size: clamp(1rem, 2vw, 2rem);
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.menu a:hover{
    color: rgb(2, 10, 165);
    text-decoration: underline;
}

.sobre{
    display: flex;
    gap: 3rem;
    background-color: rgb(153, 67, 233);
    justify-content: space-between;
    padding: 10rem;
    align-items: center;
}

.sobre .text{
    font-size: clamp(1rem, 2vw, 2rem);
    color: white;
    width: 50%;
}

.info{
    width: 50%;
    height: auto;
    padding: 1.5rem 2rem;
    background-color: rgb(207, 157, 255);
    border-radius: 1rem;
    color: white;
    font-size: clamp(1rem, 2vw, 2rem);
}

.info .app{
    padding: 0.8rem;
    width: 10%;
    text-decoration: none;
    transition: 0.2s;
    margin: auto;
}

.apps{
    align-items: center;
    margin: auto;
}

.imagem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.info img{
    border-radius: 100%;
    width: 50vw;
}

.info .app img{
    width: 8%;
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 100%;
    transition: 0.3s;
    margin: auto;
}

.info .app img:hover{
    transform: scale(1.1);
}

h1{
    text-align: center;
    font-size: 3rem;
}

.servicos{
    align-items: center;
    padding: 3rem;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    font-size: 2.2rem;
    flex-wrap: wrap;
    text-align: center;
    margin: 10rem 0rem;
    gap: 3rem;
}

.card{
    border: 3px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    display: flex;
    background-color: blueviolet;
    color: white;
    overflow: hidden;
    font-weight: 600;
    gap: 3rem;
    transition: ease 0.3s;
}

.card p{
    margin: 0 3rem;
    text-align: none;
}

.card:hover{
    transform: scale(1.1);
}

@media (max-width: 480px){

    html{
        font-size: 10px;
    }

    .sobre{
        flex-direction: column;
        width: 100vw;
        padding: 2rem 0;
        margin: auto;
        text-align: center;
    }

    .info{
        width: 90vw;
        margin: auto;
        flex-direction: column;
    }

    .text h2{
        font-size: 2rem;
    }

    .info .imagem{
        flex-direction: column;
    }

    .info .imagem img{
        width: 80px;
    }

    .apps .app img{
        width: 12%;
        margin-top: 5%;
    }

    .inicio{
        flex-direction: column;
        font-size: 2rem;
    }

    .inicio .menu{
        padding: 2rem;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .inicio .thur{
        flex-direction: column;
    }

    .inicio .thur img{
        width: 40px;
    }

    .card{
        flex-direction: column;
        width: 200px;
        margin: auto;
        font-size: 2rem;
        text-align: center;
        transition: 0.3s;
    }

    .card:hover{
        transform: translateY(-5px);
    }

    .cards{
        margin: 2rem;
    }
}